*{
  margin: 0;
  padding: 0;
}

.wrapper{
  width:100%;
  margin: 0 auto;
}
header{
  height: 105px;
  /* background: rgb(199,206,234); */
  background-image: url(https://i.kinja-img.com/gawker-media/image/upload/c_fill,f_auto,fl_progressive,g_center,h_675,pg_1,q_80,w_1200/a19153fcf2187fb464cbebabb7000a20.jpg);
  width: 100%;
  z-index: 12;
  position: fixed;

}

.logo{
  position: fixed;
  left: 0px;
  top: -51px;
  transform: scale(.5);
  float: left;


}
.pplogo{
  /* height: 12.5em;
  width: 12.5em; */
  height: 3em;
  width: 3em;
  border-radius: 8em;
}
.compName{
  /* margin-top: .2em; */
  color: rgb(184,76,101);
  display: flex;
  margin-left: 5em;
  justify-content: left;
  font-family: 'Alex Brush', cursive;
  font-size: 2em;
}
nav{
  float: right;
  line-height: 4px;
  margin-top: -8px;
}
nav a{
  text-decoration: none;
  font-family: "Big Caslon";
  letter-spacing: 4px;
  font-size: 20px;
  margin: 10px;
  color: #C7CEEA;
}

body{
  background-color: #f0defd;
}
  
  #whatWeDo {
      position: relative;
      top: 5em;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #FCF7DE;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    width: 100%;
    color: #8672A5;
  } 
  
  
  .box {
    float: right;


  }
  
  .box img {
    height: 200px;
    width: 200px;
    border-radius: 90%; 
    margin-top: 3em;
    margin-right: 1em;
  }
  /* made text within section not appear so close to the border on the left and moved down the box so it wasnt so close to the nav bar*/
  .text-container{
    margin-left: 20px;
    /* margin-top: auto ; */
  }
  
  .mainInfo {
      display: flex;
      /* flex-direction: row; */
      flex-wrap: wrap;
      justify-content: space-between; 
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    color: #8672A5;
  }
  
  .mainInfo a {
    color: #8672A5;
    text-decoration: none;
  }
  
  .column {
    width: 25%;
    float: right;
    padding: 20px;
    padding-top: 3em ;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 0px;
    text-align: center;
    background-color: white;
    /* border-radius: 5%; */
  }
  
  .card img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  

  .infoForm {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #ffffff;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;
    /* display: block; */
    width: 550px;
    justify-content: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
  }

  /*footer*/
  footer {
    background: white;
    color: black;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Alex Brush', cursive;
    font-size: 25px;
    position: absolute;
    width: 99%;
    bottom:-380%;
  
  }
  
  
  
  footer a {
    color: black;
    font-size: 25px;
    text-decoration: none;
  }
  
  
  
  .internalLinks ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: 	space-around;
  }
  
  .externalLinks {
    display: flex;
    justify-content: 	space-around;
    align-items: center;
      align-content: center;
    padding-left: 10px;
  }
  
  /* Padding help the home resume etc section not look so close together, put space between them and adjusts the font*/
  .internalLinks li {
    padding: 10px;
    font-family: 'Barlow Condensed', sans-serif;
  }
  
  .externalLinks ul {
    list-style-type: none;
    text-decoration: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    margin-left: 0px;
    padding-left: 20px;
      align-items: center;
      align-content: center;
  }
  
  .externalLinks li {
    font-family: 'Alex Brush', cursive;
    margin-right: 20px;
  }
  
  .copyright {
    display: flex;
    align-items: center;
    align-content: center;
  }
  