*{
    margin: 0;
    padding: 0;
}

.wrapper{
    width:100%;
    margin: 0 auto;
}
header{
    height: 105px;
    /* background: rgb(199,206,234); */
    background-image: url(https://i.kinja-img.com/gawker-media/image/upload/c_fill,f_auto,fl_progressive,g_center,h_675,pg_1,q_80,w_1200/a19153fcf2187fb464cbebabb7000a20.jpg);
    width: 100%;
    z-index: 12;
    position: fixed;

}

.logo{
    position: fixed;
    left: 0px;
    top: -51px;
    transform: scale(.5);
    float: left;


}
.pplogo{
    /* height: 12.5em;
    width: 12.5em; */
    height: 3em;
    width: 3em;
    border-radius: 8em;
}
.compName{
    /* margin-top: .2em; */
    color: rgb(184,76,101);
    display: flex;
    margin-left: 5em;
    justify-content: left;
    font-family: 'Alex Brush', cursive;
    font-size: 2em;
}
nav{
    float: right;
    line-height: 4px;
    margin-top: -8px;
}
nav a{
    text-decoration: none;
    font-family: "Big Caslon";
    letter-spacing: 4px;
    font-size: 20px;
    margin: 10px;
    color: aliceblue;
}
.about-us{
    display: grid;
    height: 50em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3em  24em;
    grid-template-areas: 
    "left-column right-column";
    background-color: rgb(199,206,234);
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    /* border-width: 15px;
    border-style: ridge;
    border-color: rgb(141,153,186); */
}